body {
    background-image: url("http://worldknowing.com/wp-content/uploads/2015/08/most-Skyscrapers-in-us-cities.jpg");
}

@font-face {
    font-family: 'blackjack';
    src: url('../font/blackjack2/black_jack-webfont.eot');
    src: url('../font/blackjack2/black_jack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/blackjack2/black_jack-webfont.woff2') format('woff2'),
         url('../font/blackjack2/black_jack-webfont.woff') format('woff'),
         url('../font/blackjack2/black_jack-webfont.ttf') format('truetype'),
         url('../font/blackjack2/black_jack-webfont.svg#blackjackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bakery';
    src: url('../font/bakery/bakery-webfont.eot');
    src: url('../font/bakery/bakery-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bakery/bakery-webfont.woff2') format('woff2'),
         url('../font/bakery/bakery-webfont.woff') format('woff'),
         url('../font/bakery/bakery-webfont.ttf') format('truetype'),
         url('../font/bakery/bakery-webfont.svg#bakeryregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mr_sunshine';
    src: url('../font/mr_sunshine/mr_sunshine-webfont.eot');
    src: url('../font/mr_sunshine/mr_sunshine-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/mr_sunshine/mr_sunshine-webfont.woff2') format('woff2'),
         url('../font/mr_sunshine/mr_sunshine-webfont.woff') format('woff'),
         url('../font/mr_sunshine/mr_sunshine-webfont.ttf') format('truetype'),
         url('../font/mr_sunshine/mr_sunshine-webfont.svg#mr_sunshineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
logan.logan-title
{   font-family:cursive;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    
}
brand.brand-title
{   font-family:'blackjack';
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    
}
.brand-name
{ font-family: 'blackjack';
    
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-img-icon
{   position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}