.box {
    background-color:#EEE;
   border: 10px solid #FFF;
  position: relative;
  width: 300px;
    -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
   overflow:hidden;
  display: inline-block;    
  margin-left:50px;
  margin-bottom:50px;
  float:left;
  
}
.box img {
position:relative;
display: block;
    margin-left: auto;
    margin-right: auto

}
.box p {
text-align: center;

}
.box .newContent {
    display:none;
}


.box .newContent #gotoPost{
    
    position: relative;
    background-position: right bottom;
}

